
body {
    padding: 1em 1em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

section {
    border-radius: .4em;
    margin: .5em;
    padding: 2em 2.5em;
}

.bg {
    background: darkslategrey;
}

.headshot {
    max-width: 10em !important;
    padding: 1em;
}

.mouseOver {
    color: red !important;
    font-size: 4em;
}

.mouseLeave {
    color: red;
}

.bullets {
    padding: 1em;
}

.social {
    margin: .3em;
}